<%
	blockClass = 'hero'

	pages = [
		{
			this: {
				class: 'class'
			},
			link: {
				href: '#',
				label: `Our Restaurant`
			},
			image_component: {
				this: {
					class: 'page__image',
					dataAttribute: 'draggable = false'
				},
				img: {
					src: '/media/image/slider/sld5-md.jpg',
					alt: 'alt'
				}
			}
		},
		{
			this: {
				class: 'class'
			},
			link: {
				href: './menu',
				label: `Menu`
			},
			image_component: {
				this: {
					class: 'page__image',
					dataAttribute: 'draggable = false'
				},
				img: {
					src: '/media/image/slider/sld2-md.jpg',
					alt: 'alt'
				}
			}
		},
	]
	
	page_includes = []

	for (var page_component of pages) {
		page_includes.push(include('src/ejs/components/page.ejs', {
			page_component: page_component
		}))
	}
	
%>

<section class='layout__<%=blockClass%> <%=blockClass%>'>
	<div class='<%=blockClass%>__container container'>
		<%- include('src/ejs/layout/flex.ejs', {
			content: page_includes
		})%>

		<%- include('src/ejs/components/button.ejs', {
			button_component: {
				link: '#',
				label: 'Book a Table',
				style: 'big',
				priority: true,
				icon_component: {
					name: 'ph_arrow-right-light'
				}
			}
		})%>

		<%- include('src/ejs/components/socials.ejs', {
			social_component: {}
		})%>

		<%- include('src/ejs/components/hours.ejs', {
			hours_component: {}
		})%>

		<%- include('src/ejs/layout/footer.ejs') %>
		
	</div>
</section>