<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/burgerText.ejs', { 
//	burgerText_component: {
//		this: {
//			parent: 'parentClass',
//			block: 'childBlockClass',
//			class: ['childClass'],
//			id: ['childID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//	}) %>
%>
<%
	if(typeof burgerText_component === 'undefined' || !burgerText_component) {
		return
	}

	var {blockClass, thisClass, thisID, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...burgerText_component, componentName: 'burgerText'})
	thisTag = 'button'
%>

<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisID%> <%-thisStyles%>>
	<span class="active">Menu</span>
	<span class="disabled">Close</span>
</<%=thisTag%>>