<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/formReservation.ejs', { 
//	formReservation_component: {
//		this: {
//			parent: 'parentClass',
//			block: 'childBlockClass',
//			class: ['childClass'],
//			id: ['childID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		},
//		wrapper: {
//			parent: 'wrapperParentClass',
//			block: 'wrapperChildBlockClass',
//			class: ['wrapperChildClass'],
//			id: ['wrapperChildID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//}) %>
%>
<%
	if(typeof formReservation_component === 'undefined' || !formReservation_component) {
		return
	}

	var {blockClass, thisClass, thisID, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...formReservation_component.this, componentName: 'form-reservation'})
	var {isWrapper, blockClass: wrapperBlockClass, thisClass: wrapperThisClass, thisID: wrapperThisID, thisTag: wrapperThisTag, thisStyles: wrapperThisStyles, thisDataAttributes: wrapperThisDataAttributes} = externe.setupEJSComponent({...formReservation_component.wrapper, componentName: 'form-reservation'})

	var isWrapper = typeof formReservation_component.wrapper === 'object' && formReservation_component.wrapper
%>

<% if(isWrapper) { %>
	<<%=wrapperThisTag%> <%-wrapperThisDataAttributes%> class='<%=wrapperThisClass%>' <%-wrapperThisID%> <%-wrapperThisStyles%>>
<% } %>
<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisID%> <%-thisStyles%>>
	<% if(typeof formReservation_component.title !== 'undefined' && formReservation_component.title) { 
		tag = formReservation_component.title.tag
		label = formReservation_component.title.label
	%>

		<<%=tag%> class='<%=blockClass%>__title'>
			<%=label%>	
		</<%=tag%>>

	<% } %>

	<% if(typeof formReservation_component.text !== 'undefined' && formReservation_component.text) {  %>
		<div class="<%=blockClass%>__text">
			<% for(var text of formReservation_component.text.list) { %>
				<p><%=text%></p>
			<% } %>	
		</div>
	<% } %>

	<form action="" class="">
		
	</form>
</<%=thisTag%>>
<% if(isWrapper) { %>
	</<%=wrapperThisTag%>>
<% } %>
