<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/reservation.ejs', { 
//	reservation_component: {
//		this: {
//			parent: 'parentClass',
//			block: 'childBlockClass',
//			class: ['childClass'],
//			id: ['childID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		},
//		wrapper: {
//			parent: 'wrapperParentClass',
//			block: 'wrapperChildBlockClass',
//			class: ['wrapperChildClass'],
//			id: ['wrapperChildID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//}) %>
%>
<%
	if(typeof reservation_component === 'undefined' || !reservation_component) {
		return
	}

	var {blockClass, thisClass, thisID, thisTag, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...reservation_component.this, componentName: 'reservation'})
	var {isWrapper, blockClass: wrapperBlockClass, thisClass: wrapperThisClass, thisID: wrapperThisID, thisTag: wrapperThisTag, thisStyles: wrapperThisStyles, thisDataAttributes: wrapperThisDataAttributes} = externe.setupEJSComponent({...reservation_component.wrapper, componentName: 'reservation'})

	var isWrapper = typeof reservation_component.wrapper === 'object' && reservation_component.wrapper

	var formClass = `form`
%>

<% if(isWrapper) { %>
	<<%=wrapperThisTag%> <%-wrapperThisDataAttributes%> class='<%=wrapperThisClass%>' <%-wrapperThisID%> <%-wrapperThisStyles%>>
<% } %>
<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisID%> <%-thisStyles%>>
	<div class="<%=blockClass%>__content" data-fsc-watcher data-fsc-watcher-once>
		<% if(typeof reservation_component.title !== 'undefined' && reservation_component.title) { 
			tag = reservation_component.title.tag
			label = reservation_component.title.label
		%>

			<<%=tag%> class='<%=blockClass%>__title'>
				<%=label%>	
			</<%=tag%>>

		<% } %>

		<% if(typeof reservation_component.text !== 'undefined' && reservation_component.text) {  %>
			<div class="<%=blockClass%>__text text text--md">
				<% for(var text of reservation_component.text.list) { %>
					<p><%=text%></p>
				<% } %>	
			</div>
		<% } %>
	</div>

	<form  action="" class="<%=blockClass%>__form <%=formClass%>" autocomplete="on">
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field <%=formClass%>__field--50">
			<label for="name">Name</label>
			<input id='name' name="name" type="text" placeholder="Your Name" autocomplete="name">
		</div>
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field <%=formClass%>__field--50">
			<label for="email">Email</label>
			<input id='email' name="email" type="email" placeholder="Your E-mail" autocomplete="email">
		</div>
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field">
			<label for="tel">Phone Number</label>
			<input id='tel' name="tel" type="tel" placeholder="Your Number" autocomplete="tel">
		</div>
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field <%=formClass%>__field--33">
			<label for="people">People</label>
			<input id='people' name="people" type="number" placeholder="1-10" min="1" max="10" autocomplete="off">
		</div>
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field <%=formClass%>__field--33">
			<label for="date">Date</label>
			<input id='date' name="date" type="date" autocomplete="off">
		</div>
		<div data-fsc-watcher data-fsc-watcher-once class="<%=formClass%>__field <%=formClass%>__field--33">
			<label for="time">Time</label>
			<input id='time' name="time" type="time" autocomplete="off">
		</div>

		<div class="<%=formClass%>__field">
			<%- include('src/ejs/components/button.ejs', {
				button_component: {
					label: 'Make reservation'
				}
			})%>
		</div>
		
	</form>
</<%=thisTag%>>
<% if(isWrapper) { %>
	</<%=wrapperThisTag%>>
<% } %>
