<%
// Пример вызова в шаблоне (EJS):
//
// <\%- include('src/ejs/components/switcher.ejs', { 
//	toggle_component: {
//		this: {
//			parent: 'parentClass',
//			block: 'childBlockClass',
//			class: ['childClass'],
//			id: ['childID'],
//			tag: 'div',
//			style: ['customStyle'],
//			dataAttribute: ['customDataAttributes'], 
//		}
//	}
//	}) %>
%>
<%
	if(typeof toggle_component === 'undefined' || !toggle_component) {
		return
	}

	var {blockClass, thisClass, thisID, thisStyles, thisDataAttributes} = externe.setupEJSComponent({...toggle_component, componentName: 'toggle'})
    thisTag = 'button'
%>

<<%=thisTag%> <%-thisDataAttributes%> class='<%=thisClass%>' <%-thisID%> <%-thisStyles%>>
	<div class="<%=`${blockClass}__circle`%>"></div>
</<%=thisTag%>>